In [1]:
!pip install pmaw -qq

     |████████████████████████████████| 188 kB 11.6 MB/s
     |████████████████████████████████| 55 kB 3.4 MB/s

In [ ]:
# import libraries
import pandas as pd
from pmaw import PushshiftAPI
import datetime as dt
import requests
import time
import uuid

In [3]:
# set parameters for scrapping data
start_date = dt.date(2010, 1, 1)
end_date = dt.date(2022, 12, 20)

start_date = dt.datetime.fromordinal(start_date.toordinal())
end_date = dt.datetime.fromordinal(end_date.toordinal())


start_epoch = int(start_date.timestamp())
end_epoch = int(end_date.timestamp())

subreddit ='france'
query = 'cochonne'
limit= 1000
tag = str(uuid.uuid4().int)[:6]

In [5]:
# Pushsift api directily
api_query = 'https://api.pushshift.io/reddit/comment/search/?q=' + query \
            + '&since=' + str(start_epoch) \
            + '&until=' + str(end_epoch) \
            + '&subreddit=' + subreddit \
            + '&limit=' + str(limit)

r = requests.get(api_query)
json = r.json()
df = pd.DataFrame(json['data'])

In [6]:
# extract columns of intereset and renaming
df = df[['utc_datetime_str', 'author', 'body']]
df.columns = ['date', 'author', 'text']

df

,date,author,text
0,2022-12-15 20:18:36,LibrarianMouse,"Et encore, je n'ai pas donné de détails. C'est..."
1,2022-12-09 16:54:09,Country_Bitch,La cochonne versatile est un bon burger d'aill...
2,2022-12-09 12:24:55,ferdibarda,"Dans le marais, il y a un resto qui s'appelle ..."
3,2022-10-24 09:08:40,AwesomeDewey,&gt; la Nouvelle Amsterdam\n\nA ne pas confond...
4,2022-10-17 07:46:38,crispychoc,"Quand elle lui a dit, ""prends moi comme une co..."
...,...,...,...
132,2015-04-09 13:56:37,ScalSaver,Je suis pas seulement maladroit au niveau de m...
133,2015-02-05 00:45:33,Sinequanonh,"Cette ""école"" qui s'approprie les codes/pédago..."
134,2014-08-26 15:15:56,mement0-m0ri,C'est interessant... \nPerso il m'est impossi...
135,2013-04-11 17:19:27,laurenth,"Marie toi a une grosse cochonne obèse, un p'ti..."
136,2012-10-11 13:16:38,[deleted],Les gars ont des méthodes bien rodées dans les...

In [ ]:
# save dataframe
base_path = '/content/drive/MyDrive/Omdena_Projects/France_NLP_Classifier/reddit_datasets'
df.to_csv(f'{base_path}/{subreddit}_{query}_{tag}.csv', index=False)