In [1]:
import pandas as pd

In [2]:
%pwd

'D:\\Divya\\Job\\Volunteering\\Omdena_Projects\\marseille-chapter-stop-online-violence-nlp\\src\\tasks\\task-3-model-improvement'

In [6]:
%cd ..

D:\Divya\Job\Volunteering\Omdena_Projects\marseille-chapter-stop-online-violence-nlp\src

In [7]:
df1 = pd.read_csv('data\\annotated_data\\Instagram_Annotated\\Posts containing hate _ instagram - Sheet1.csv')

In [8]:
df1.head()

,Post,Type,Sentence,Label
0,https://www.instagram.com/p/CghWkneD4dZ/,Comment,"DÃ¨s les premiÃ¨res pages, on peut constater un ...",None
1,https://www.instagram.com/p/CghWkneD4dZ/,Reply,@maxvandewiele penser quâ€™il y a trop dâ€™immigrÃ©...,None
2,https://www.instagram.com/p/CghWkneD4dZ/,Reply,@dv.antoine c'est magnifique ce que tu dis par...,Bullying
3,https://www.instagram.com/p/CghWkneD4dZ/,Reply,@maxvandewiele en quoi?,None
4,https://www.instagram.com/p/CghWkneD4dZ/,Reply,@dv.antoine content que tu pose la question : ...,None

In [9]:
# drop unnecessary columns and rename the columns
df1.drop(columns=['Post', 'Type'], inplace = True)
df1.rename(columns = {'Sentence':'text','Label':'label'}, inplace = True)

In [10]:
df1.shape

(283, 2)

In [11]:
df1['label'].value_counts()

None           121
Bullying       119
Hate Speech     31
Sexism           8
Racism           3
Homophobia       1
Name: label, dtype: int64

In [16]:
# replace all upper case letters to lower case in label column
df1 = df1.replace({'label':{'Hate Speech': 'hate_speech', 'None':'none', 'Bullying':'bullying',
                           'Sexism':'sexism', 'Racism':'racism', 'Homophobia':'homophobia'}})

In [17]:
df1.head()

                                                text     label
0  DÃ¨s les premiÃ¨res pages, on peut constater un ...      none
1  @maxvandewiele penser quâ€™il y a trop dâ€™immigrÃ©...      none
2  @dv.antoine c'est magnifique ce que tu dis par...  bullying
3                            @maxvandewiele en quoi?      none
4  @dv.antoine content que tu pose la question : ...      none

In [18]:
df1['label'].value_counts()

none           121
bullying       119
hate_speech     31
sexism           8
racism           3
homophobia       1
Name: label, dtype: int64

In [19]:
df2 = pd.read_csv('data\\annotated_data\\Twitter_Annotated\\labeled_tweet_data_chukwudi.csv')

In [20]:
df2.head()

,Unnamed: 0,Line,created_at,user_id,text,merged_labels
0,0,3631,Sun Dec 18 08:54:57 +0000 2022,3778501,RT @MSolidarites: ðŸ”¥ C'est aujourd'hui ðŸ”¥\r\n \r...,none
1,1,5234,Sun Dec 18 08:04:43 +0000 2022,12700192,@ptiloup44 @CarrPatrick2 Pourquoi MENTEZ-VOUS ...,bullying
2,2,5297,Sun Dec 18 08:02:33 +0000 2022,15657767,RT @RAbsolument: Espagne : Un migrant Marocain...,none
3,3,4477,Sun Dec 18 08:31:26 +0000 2022,15856141,@ajplusfrancais Comment un migrant arrivant d'...,racism
4,4,4761,Sun Dec 18 08:21:48 +0000 2022,17654549,@Charononia Gros cadeau Ã§a !,none

In [21]:
# drop unnecessary columns and rename the columns
df2.drop(columns=['Line','Unnamed: 0', 'created_at', 'user_id'], inplace = True)
df2.rename(columns = {'merged_labels':'label'}, inplace = True)

In [22]:
df2.shape

(2307, 2)

In [23]:
df2.head()

                                                text     label
0  RT @MSolidarites: ðŸ”¥ C'est aujourd'hui ðŸ”¥\r\n \r...      none
1  @ptiloup44 @CarrPatrick2 Pourquoi MENTEZ-VOUS ...  bullying
2  RT @RAbsolument: Espagne : Un migrant Marocain...      none
3  @ajplusfrancais Comment un migrant arrivant d'...    racism
4                       @Charononia Gros cadeau Ã§a !      none

In [24]:
df2['label'].value_counts()

none           1671
hate speech     238
bullying        223
racism          144
sexism           25
homophobia        6
Name: label, dtype: int64

In [25]:
df2 = df2.replace({'label':{'hate speech': 'hate_speech'}})

In [26]:
df2['label'].value_counts()

none           1671
hate_speech     238
bullying        223
racism          144
sexism           25
homophobia        6
Name: label, dtype: int64

In [27]:
df3 = pd.read_csv('data\\annotated_data\\Twitter_Annotated\\Twitter_data_annotated_Lamia.csv')
df3.head()

,id,text,created_at,user_id,Label
0,52629,- l'expÃ©rience des migrantÂ·es avec @AntoineRob...,Sun Dec 18 10:00:43 +0000 2022,1.120000e+18,None
1,52448,"""Bonnes vacances avec les enfants ! Gros bisou...",Sun Dec 18 10:05:00 +0000 2022,4.146315e+08,None
2,53081,"""Chanter"" tu ne prie pas... un gros NTM SALE P...",Sun Dec 18 09:50:47 +0000 2022,1.550000e+18,Hate_Speech
3,53682,"""Elle dit qu'il y a des place vacantes,quand o...",Sun Dec 18 09:37:21 +0000 2022,8.470000e+17,None
4,52605,"""Tout niquer"". c'est classique chez un adolesc...",Sun Dec 18 10:01:20 +0000 2022,9.330000e+17,None

In [28]:
# drop unnecessary columns and rename the columns
df3.drop(columns=['id','created_at', 'user_id'], inplace = True)
df3.rename(columns = {'Label':'label'}, inplace = True)

In [29]:
df3.shape

(2241, 2)

In [30]:
df3['label'].value_counts()

None           1471
Hate_Speech     261
Bullying        229
Sexism          120
Racism          120
Remove           31
Homophobia        9
Name: label, dtype: int64

In [31]:
# replace all upper case letters to lower case in label column
df3 = df3.replace({'label':{'Hate_Speech': 'hate_speech', 'None':'none', 'Bullying':'bullying',
                           'Sexism':'sexism', 'Racism':'racism', 'Homophobia':'homophobia'}})

In [32]:
df3['label'].value_counts()

none           1471
hate_speech     261
bullying        229
sexism          120
racism          120
Remove           31
homophobia        9
Name: label, dtype: int64

In [34]:
df3.drop(df3[df3.label == 'Remove'].index, inplace=True)

In [35]:
df3['label'].value_counts()

none           1471
hate_speech     261
bullying        229
sexism          120
racism          120
homophobia        9
Name: label, dtype: int64

In [36]:
df4 = pd.read_csv('data\\annotated_data\\Twitter_Annotated\\twitter_homophobia.csv')
df4.head()

,id,text,created_at,user_id,label,Comments
0,23,@nopsito_off @cpastibo @Mattotf1 ta pas la ref...,Mon Dec 26 18:53:52 +0000 2022,1596185810503667713,Homophobia,NaN
1,22,"mais les meuf la qui disent ""oue c ma came"" et...",Mon Dec 26 18:54:30 +0000 2022,1520921717920706561,Homophobia,NaN
2,21,@kc667ekip Ils nous cassent les couilles les p...,Mon Dec 26 18:55:29 +0000 2022,1562767614937812993,Homophobia,NaN
3,20,@dorobo_lala @evxszn @kujantho @nai_inno Câ€™est...,Mon Dec 26 19:00:01 +0000 2022,1539657588584898562,Homophobia,NaN
4,19,lesbienne 1 https://t.co/5bS7KXQqKU,Mon Dec 26 19:01:26 +0000 2022,1283153294446202887,Homophobia,NaN

In [37]:
# drop unnecessary columns
df4.drop(columns=['id','created_at', 'user_id', 'Comments'], inplace = True)

In [38]:
df4.shape

(2000, 2)

In [39]:
df4['label'].value_counts()

Homophobia    1185
None           813
Name: label, dtype: int64

In [40]:
df4 = df4.replace({'label':{'Homophobia': 'homophobia', 'None':'none'}})

In [41]:
df4['label'].value_counts()

homophobia    1185
none           813
Name: label, dtype: int64

In [42]:
df5 = pd.read_csv('data\\annotated_data\\Twitter_Instagram_Annotated1.csv')
df5.head()

   ID                                               Text Label
0   0  @ActuFoot_ @Betclic RaclÃ© contre ce pays qui a...  None
1   1  RT @realmarcel1: L'enchaÃ®nement du gros plan s...  None
2   2  @Acermendax Je note que pour certain dÃ©noncer ...  None
3   3  RT @IlanLamar: @Cdanslair Le gros problÃ¨me chÃ¨...  None
4   4  RT @ricofiascojr: @AmraneHB @Marvel_Fit Aux US...  None

In [43]:
# drop unnecessary columns and rename the columns
df5.drop(columns=['ID'], inplace = True)
df5.rename(columns = {'Text':'text','Label':'label'}, inplace = True)

In [44]:
df5.shape

(6634, 2)

In [45]:
df5['label'].value_counts()

None           2917
Homophobia     1196
none           1015
Bullying        513
Hate_Speech     453
Racism          253
Sexism          128
none             80
sexism           60
sexism           17
Sexism            1
homophobia        1
Name: label, dtype: int64

In [46]:
# replace all upper case letters to lower case in label column
df5 = df5.replace({'label':{'Hate_Speech': 'hate_speech', 'None':'none', 'Bullying':'bullying',
                           'Sexism':'sexism','Sexism ':'sexism', 'sexism ':'sexism', 'Racism':'racism', 'Homophobia':'homophobia'}})

In [47]:
df5['label'].value_counts()

none           3932
homophobia     1197
bullying        513
hate_speech     453
racism          253
sexism          206
none             80
Name: label, dtype: int64

In [48]:
! pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\johny\appdata\local\programs\python\python310\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\johny\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)

In [49]:
df6 = pd.read_excel('data\\annotated_data\\Extra_dataset.xlsx')
# df6 = pd.read_excel(open('data\\annotated_data\\Extra_dataset.xlsx', 'rb'), sheet_name='Sheet')  
df6.head()

   Unnamed: 0                                               Text     Label
0         NaN  @DiiaraGalsen Bon jâ€™abandonne !\nJe pense k co...  BULLYING
1         NaN  @PkrMentor @fatoukanoute8 @raciste Apparemment...  BULLYING
2         NaN  @NazaBomaye comment tu peux ouvrir ta grosse b...  BULLYING
3         NaN                          @jgk143 SOIS FORT POV CON  BULLYING
4         NaN  Ce genre de dÃ©claration ?! Allez va te faire f...  BULLYING

In [50]:
# drop unnecessary columns and rename the columns
df6.drop(columns=['Unnamed: 0'], inplace = True)
df6.rename(columns = {'Text':'text','Label':'label'}, inplace = True)

In [51]:
df6.shape

(382, 2)

In [52]:
df6['label'].value_counts()

HATA_SPEECH    362
SEXISM          15
BULLYING         5
Name: label, dtype: int64

In [54]:
# replace all upper case letters to lower case in label column
df6 = df6.replace({'label':{'HATA_SPEECH': 'hate_speech','BULLYING':'bullying','SEXISM':'sexism'}})

In [55]:
df6['label'].value_counts()

hate_speech    362
sexism          15
bullying         5
Name: label, dtype: int64

In [ ]:
# df6.to_csv('csvfile.csv', encoding='utf-8', index=False)

### Merge the 6 datasets

In [56]:
df = pd.concat([df1, df2, df3, df4, df5, df6], axis=0, ignore_index=True)

In [57]:
df.head()

                                                text     label
0  DÃ¨s les premiÃ¨res pages, on peut constater un ...      none
1  @maxvandewiele penser quâ€™il y a trop dâ€™immigrÃ©...      none
2  @dv.antoine c'est magnifique ce que tu dis par...  bullying
3                            @maxvandewiele en quoi?      none
4  @dv.antoine content que tu pose la question : ...      none

In [58]:
df.shape

(13816, 2)

In [59]:
df.drop_duplicates(inplace = True, ignore_index=True)

In [60]:
df.shape

(10258, 2)

In [61]:
df['label'].value_counts()

none           5780
homophobia     1866
hate_speech    1139
bullying        866
sexism          271
racism          262
none             72
Name: label, dtype: int64

In [64]:
df = df.replace({'label':{'none ': 'none'}})
df['label'].value_counts()

none           5852
homophobia     1866
hate_speech    1139
bullying        866
sexism          271
racism          262
Name: label, dtype: int64

# Save combined data to csv

In [65]:
df.to_csv('tasks\\task-3-model-improvement\\combined_data.csv',index=False)

In [62]:
%pwd

'D:\\Divya\\Job\\Volunteering\\Omdena_Projects\\marseille-chapter-stop-online-violence-nlp\\src'